.Triangle {
	width: 100%;
	transition: 0.3s;
	overflow: hidden;
}

.Triangle_hidden {
	opacity: 0;
}

.Triangle::before {
	content: "";
	float: left;
	/* Height of an equilateral triangle = <width of base> * sqrt(3) / 2*/
	padding-top: calc(100% * 1.732 / 2);
}

.Triangle__connection {
	height: 0.9375rem;
	width: 100%;
	background-color: #16243e;
	z-index: 1;
}
.Triangle__connection_top {
	position: absolute;
	top: 3.75rem;
}
.Triangle__connection_left {
	transform: rotate(60deg);
	width: 56.5%;
	position: absolute;
	top: 43.5%;
}
.Triangle__connection_right {
	transform: rotate(-60deg);
	width: 56.5%;
	position: absolute;
	top: 43.5%;
	right: 0;
}
